<div class="container-fluid">
  <div class="row header">
    <ul class="offset-1 nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Setting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>

  <div class="row diagram">
    <div class="col-12 desc-diagram">
      <h3 class="title">Laboratory work No. 1 "Power circle diagram"</h3>
      <h5 class="subtitle">Power line</h5>
    </div>
    <div class="col-12 control-diagram">
      <div class="col-9 d-flex justify-content-end">
        <img class="img-diagram " src="assets/figure1.png" alt="" width="80%">
      </div>
      <div class="btn-diagram col-3 d-flex flex-column align-items-center">
        <button type="button" class="btn btn-outline-dark button button-150 mb-2">Calculate</button>
        <button type="button" class="btn btn-outline-dark button button-150">Chart</button>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="specified-data control-data col-2 offset-md-1">
      <div class="subtitle-data mb-3 text-center">Specified data</div>
      <div class="specified-field">
        <label class="label-name" for="G1">Voltage G1, U1 kV</label>
        <input class="input-data" type="number" id="G1" [(ngModel)]="u1">
      </div>
      <div class="specified-field">
        <label for="G2">Voltage G2, U2 kV</label>
        <input class="input-data" type="number" id="G2" [(ngModel)]="u2">
      </div>
      <div class="specified-field">
        <label for="degr">Angle delta, degr</label>
        <input class="input-data" type="number" id="degr" [(ngModel)]="angle">
      </div>
      <div class="specified-field">
        <label for="RT1">Transformer T1, R<small>T1</small></label>
        <input class="input-data" type="number" id="RT1" [(ngModel)]="rt1j">
      </div>
      <div class="specified-field">
        <label for="XT1">Transformer T1, X<small>T1</small></label>
        <input class="input-data" type="number" id="XT1" [(ngModel)]="xt1i">
      </div>
      <div class="specified-field">
        <label for="RT2">Transformer T2, R<small>T2</small></label>
        <input class="input-data" type="number" id="RT2" [(ngModel)]="rt2j">
      </div>
      <div class="specified-field">
        <label for="XT2">Transformer T2, X<small>T2</small></label>
        <input class="input-data" type="number" id="XT2" [(ngModel)]="xt2i">
      </div>
      <div class="specified-field">
        <label for="RL">Line, R<small>L</small></label>
        <input class="input-data" type="number" id="RL" [(ngModel)]="rlj">
      </div>
      <div class="specified-field">
        <label for="XL">Line, X<small>L</small></label>
        <input class="input-data" type="number" id="XL" [(ngModel)]="xli">
      </div>
      <div class="specified-field">
        <label for="BL">Line, B<small>L</small></label>
        <input class="input-data" type="number" id="BL" [(ngModel)]="bli">
      </div>
    </div>
    <div class="control-diagram-data col-6">
      <div class="diagram-data row">
        <app-bubble-chart *ngIf="i1Result" [x]="angle" [y]="i1Result" class="col-sm-6 col-lg-4"></app-bubble-chart>
        <!-- <app-bubble-chart class="col-sm-6 col-lg-4"></app-bubble-chart> -->
        <!-- <app-bubble-chart class="col-sm-6 col-lg-4"></app-bubble-chart> -->
        <!-- <app-bubble-chart class="col-sm-6 col-lg-4"></app-bubble-chart> -->
        <!-- <app-bubble-chart class="col-sm-6 col-lg-4"></app-bubble-chart> -->
        <!-- <app-bubble-chart class="col-sm-6 col-lg-4"></app-bubble-chart> -->
      </div>
    </div>
    <div class="measured-field col-2">
      <div class="subtitle-data mb-3 text-center">Measured data</div>
      <div class="measured-data">
        <label>Angle delta, degr</label>
        <span class="input-data form-control"></span>
      </div>
      <div class="measured-data">
        <label>Current I1, A</label>
        <span class="input-data form-control"></span>
      </div>
      <div class="measured-data">
        <label>Current I2, A</label>
        <span class="input-data form-control"></span>
      </div>
      <div class="measured-data">
        <label>Active power P1, kW</label>
        <span class="input-data form-control"></span>
      </div>
      <div class="measured-data">
        <label>Active power P2, kW</label>
        <span class="input-data form-control"></span>
      </div>
      <div class="measured-data">
        <label>Reactive power Q1, kvar</label>
        <span class="input-data form-control"></span>
      </div>
      <div class="measured-data">
        <label>Reactive power Q2, kvar</label>
        <span class="input-data form-control"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <span>u1 >> {{ this.u1Calc }}</span>
      <br>
      <span>u2 >> {{ this.u2Calc }}</span>
      <br>
      <span>zt1 >> {{ this.zt1Calc }}</span>
      <br>
      <span>{{'zt2 >> '}}{{ this.zt2Calc }}</span>
      <br>
      <span>{{'zl >> '}}{{ this.zlCalc }}</span>
      <br>
      <span>{{'bl >> '}}{{ this.blCalc }}</span>
      <br>
      <br>
      <br>
      <!-- <span>{{'y22 >> '}}{{ this.y22Calc }}</span> -->
      <span>{{'y11 >> '}}{{ this.y11Calc1 }}</span>


    </div>
  </div>
</div>

