<div class="container-fluid">
    <div class="row header">
      <ul class="nav nav-pills offset-1">
        <li class="nav-item">
          <a class="nav-link active" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Setting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
      <h3 class="title">Cycle of laboratyry work on the cours "Electrical systems and networks"</h3>
    <div class="btn-first-screen">
      <div class="group-btn">
        <button routerLink="/labs/1" type="button" class="btn btn-outline-dark button">
          Laboratory work No. 1
          <br>
          "Power circle diagram"
        </button>
        <button type="button" class="btn btn-outline-dark button">Laboratory work No. 2 <br>"Title"</button>
      </div>
      <div class="group-btn">
        <button type="button" class="btn btn-outline-dark button">Laboratory work No. 3 <br>"Title"</button>
        <button type="button" class="btn btn-outline-dark button">Laboratory work No. 4 <br>"Title"</button>
      </div>
      <div class="group-btn">
        <button type="button" class="btn btn-outline-dark button">Laboratory work No. 5 <br>"Title"</button>
        <button type="button" class="btn btn-outline-dark button">Laboratory work No. 6 <br>"Title"</button>
      </div>
    </div>

    </div>
</div>
